@model EntityFrameworkExample.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Delete</h2>
<form action="/product/delete/@Model.ProductID" method="post">
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="ProductName">ProductName</label>
            <input type="hidden" name="ProductID" value="@Model.ProductID" />
            @Model.ProductName
        </div>
        <div class="form-group col-md-5">
            <label for=">Price">Price</label>
            @Model.Price
        </div>
    </div>
    <p>Are you Sure you want to Delete ?</p>
    <button type="submit" class="btn btn-success">Delete</button>
    <a href="/Product/Index" class="btn btn-danger">Cancel</a>
</form>



