
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <asp:Label runat="server" Text="Label">UserName:</asp:Label>
        <input type="text" name="username" /><br />
        <asp:Label runat="server" Text="Label">Password:</asp:Label>
        <input type="text" name="password" />
    </div>
</body>
</html>
