
@{
    ViewBag.Title = "About";
   

}

<h2>About Page Content Here</h2>
@{
    ViewBag.Message = "Leading Company In the World";
}

@{ 
    ViewBag.Title = "Products";
    ViewBag.Item = new List<string>() { "Mobile", "WashingMachine", "Television" };
    Html.RenderPartial("ListPartialView");
}

@section SideBarOption{

    <a href="#" class="list-group-item text-white" ; style="background-color:transparent">  About Company</a>
    <a href="#" class="list-group-item text-white" ; style="background-color:transparent">About Founder</a>
    <a href="#" class="list-group-item text-white" ; style="background-color:transparent">About Team</a>
}

