@model ModelExample1.Models.Products
@{
    ViewBag.Title = "Details";
}

<h2> Product Details</h2>
<table class="table">
    <tr>
        <td>Product Id</td>
        <td>@Model.ProductId</td>

    </tr>
    <tr>
        <td>Product Name</td>
        <td>@Model.ProductName</td>
    </tr>
    <tr>
        <td>Rate</td>
        <td>@Model.Rate</td>
    </tr>


</table>

